<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.plan.mapper.CourseMapper">

<!--    <resultMap id="RoleMap" type="com.exam.plan.entity.Role">-->
<!--        <id column="id" jdbcType="BIGINT" property="id"/>-->
<!--        <result column="name" jdbcType="VARCHAR" property="name"/>-->
<!--        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>-->
<!--        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>-->
<!--    </resultMap>-->

<!--    <resultMap id="RoleWithResourceMap" type="com.exam.plan.entity.RoleWithResource" extends="RoleMap">-->
<!--        &lt;!&ndash; 1角色对应多资源 &ndash;&gt;-->
<!--        <collection property="resourceList" ofType="com.exam.plan.entity.Resource">-->
<!--            <result column="resource" jdbcType="VARCHAR" property="resource"/>-->
<!--            &lt;!&ndash; 1资源对应多操作 &ndash;&gt;-->
<!--            <collection property="handleList" ofType="com.exam.plan.entity.Handle">-->
<!--                <id column="id" jdbcType="BIGINT" property="id"/>-->
<!--                <result column="handle" jdbcType="VARCHAR" property="handle"/>-->
<!--            </collection>-->
<!--        </collection>-->
<!--    </resultMap>-->

<!--    <resultMap id="CourseTextBookInfo" type="com.exam.plan.entity.CourseTextBookInfo">-->
<!--        <id column="course_id" jdbcType="BIGINT" property="courseId"/>-->
<!--        <result column="name" jdbcType="VARCHAR" property="name"/>-->
<!--        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>-->
<!--        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>-->
<!--    </resultMap>-->

<!--    <select id="listTextbook" parameterType="java.lang.Integer" resultType="com.exam.plan.entity.CourseTextBookInfo">-->
<!--        SELECT *-->
<!--        FROM course_textbook_info r-->
<!--        ORDER BY r.course_id-->
<!--    </select>-->

    <update id="updateTimeById">
        UPDATE role
        SET update_time = NOW()
        WHERE id = #{id}
    </update>

    <update id="disableCourse" parameterType="java.util.List">
        UPDATE course_info
        SET course_status = '注销'
        WHERE course_id in
        <foreach collection="courseIdList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <update id="enableCourse" parameterType="java.util.List">
        UPDATE course_info
        SET course_status = '正常'
        WHERE course_id in
        <foreach collection="courseIdList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

</mapper>