<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.plan.mapper.StuserviceMapper">
    <select id="getstuservice" resultType="com.exam.plan.entity.Stuservice" parameterType="java.util.Map">
        select * from detail_of_student_service
    </select>
</mapper>